/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }
/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0; }

.slick-list:focus {
  outline: none; }

.slick-list.dragging {
  cursor: pointer;
  cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  margin-left: auto;
  margin-right: auto; }

.slick-track:before,
.slick-track:after {
  display: table;
  content: ''; }

.slick-track:after {
  clear: both; }

.slick-loading .slick-track {
  visibility: hidden; }

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px; }

[dir='rtl'] .slick-slide {
  float: right; }

.slick-slide img {
  display: block; }

.slick-slide.slick-loading img {
  display: none; }

.slick-slide.dragging img {
  pointer-events: none; }

.slick-initialized .slick-slide {
  display: block; }

.slick-loading .slick-slide {
  visibility: hidden; }

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }
@charset "UTF-8";
body {
  -webkit-text-size-adjust: 100%;
          text-size-adjust: 100%; }

br.clear_noie,
div.clear_noie {
  display: inline !important;
  display: none;
  clear: both;
  line-height: 0px; }

br.clear_all {
  clear: both;
  line-height: 0px; }

a:hover {
  transition: all .3s ease;
  opacity: 0.7; }

*:focus {
  outline: none; }

header {
  width: 960px;
  margin: auto;
  margin-top: 5px; }

header #logo {
  width: 310px;
  margin-top: 10px; }

header #logo img {
  width: 260px; }

header #logo,
header nav {
  float: left; }

header nav ul {
  float: right;
  clear: both;
  margin-bottom: 8px; }

header nav ul.menu {
  margin-bottom: 0; }

header nav ul li {
  float: left;
  margin-left: 20px; }

header nav ul.menu li a:hover {
  opacity: 1; }

/** SmartPhone **/
#humberger {
  position: fixed;
  right: 15px;
  top: 50px;
  height: 95px;
  width: 95px;
  display: inline-block;
  box-sizing: border-box;
  border-radius: 5px;
  background-color: #b5b5b5;
  display: none; }

#humberger div {
  position: absolute;
  left: 14px;
  height: 7px;
  width: 70px;
  background-color: #eeeeee;
  border-radius: 2px;
  display: inline-block;
  box-sizing: border-box; }

#humberger div:nth-of-type(1) {
  top: 20px; }

#humberger div:nth-of-type(2) {
  top: 45px; }

#humberger div:nth-of-type(3) {
  top: 70px; }

.modaal-content-container li {
  text-align: center;
  padding: 10px; }

hr {
  background: #f75b5b;
  /* Old browsers */
  /* FF3.6-15 */
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #f75b5b 0%, #f4b75a 15%, #f7efa8 33%, #b4ed93 50%, #a2eff2 66%, #53b6f4 85%, #e5a2e1 99%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f75b5b', endColorstr='#e5a2e1', GradientType=1);
  /* IE6-9 */
  height: 5px;
  border: none;
  width: 100%;
  padding: 0;
  margin: 0; }

#sp-nav {
  display: none; }

.wrapper {
  font-family: "\6E38\30B4\30B7\30C3\30AF\4F53", YuGothic, "\6E38\30B4\30B7\30C3\30AF", "Yu Gothic", "\30E1\30A4\30EA\30AA", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  min-width: 1000px; }

.content-wrapper {
  background: url("/img/background.gif");
  background-position: top center;
  background-size: cover; }

.content {
  width: 960px;
  margin: auto;
  padding-top: 10px; }

ul.breadcrumb {
  margin-top: 5px;
  margin-left: 10px;
  font-size: 14px; }

ul.breadcrumb li {
  /* liを横並び＆ブレットを消す */
  display: inline;
  list-style-type: none; }

ul.breadcrumb li:before {
  content: " > "; }

ul.breadcrumb li:first-child:before {
  content: ""; }

ul.breadcrumb a {
  text-decoration: none;
  color: #3a3a3a; }

ul.breadcrumb strong {
  font-weight: bold; }

.head01 {
  background: url(/img/ttl_01.png) center center no-repeat;
  color: #aa1f24;
  display: inline-block;
  font-size: 28px;
  font-weight: bold;
  height: 62px;
  text-align: center;
  width: 438px; }

.head01 span {
  display: block;
  padding-top: 2px; }

.head02 {
  background: url(/img/ttl_02.png) center center no-repeat;
  color: #aa1f24;
  display: inline-block;
  font-size: 26px;
  font-weight: bold;
  height: 56px;
  text-align: center;
  width: 393px; }

.head02 span {
  display: block;
  padding-top: 6px; }

.head03 {
  display: inline;
  font-size: 22px;
  font-weight: bold;
  border-bottom: solid 8px #e5e5e5; }

.head04 {
  border-left: 5px solid #f7254c;
  font-weight: bold;
  font-size: 28px;
  padding-left: 10px; }

.item-detail .note {
  font-size: 16px; }

.item-wrap {
  width: 100%; }

.item-detail {
  margin-top: 15px;
  width: 960px;
  border: solid 3px #7d7d7d;
  border-radius: 15px;
  background-color: #fff;
  padding: 30px;
  zoom: 1;
  overflow: hidden;
  text-align: center;
  box-sizing: border-box; }

.item-detail div.item-photo,
.item-info {
  display: table-cell;
  width: 50%; }

.item-info {
  padding-left: 20px;
  text-align: left; }

.item-detail div.item-photo {
  max-width: 430px;
  max-height: 430px;
  text-align: center;
  border: 1px solid #ccc;
  content: '';
  vertical-align: middle;
  height: 100%;
  width: 0;
  margin-left: -0.3em; }

.item-detail div.item-photo img {
  vertical-align: middle;
  width: 100%; }

.item-detail h2 {
  font-size: 30px;
  font-weight: bold;
  border-bottom: solid 8px #e5e5e5;
  border-bottom: solid 8px #e5e5e5;
  width: 80%; }

.item-detail p {
  margin-top: 35px;
  font-size: 20px; }

.item-detail {
  margin-top: 15px;
  width: 960px;
  border: solid 3px #7d7d7d;
  border-radius: 15px;
  background-color: #fff;
  padding: 30px;
  zoom: 1;
  overflow: hidden;
  text-align: center;
  box-sizing: border-box; }

.variation ul.variation-pict {
  margin-top: 35px;
  margin-left: 4px; }

.strength {
  padding-top: 30px;
  clear: left; }

.variation {
  margin-top: 40px;
  zoom: 1;
  overflow: hidden; }

.variation ul.variation-pict {
  margin-top: 35px;
  margin-left: 4px; }

.variation ul.variation-pict li {
  float: left;
  margin-right: 15px; }

.variation ul.variation-pict li img {
  width: 165px; }

.variation ul.variation-pict li:nth-child(5) {
  margin-right: 0; }

.drawing {
  margin-top: 40px; }

.drawing .image {
  margin-top: 35px; }

.image-wrap {
  margin-top: 30px;
  width: 100%; }

.image-wrap .image {
  box-sizing: border-box;
  max-width: 430px;
  max-height: 430px;
  text-align: center;
  content: '';
  vertical-align: middle;
  height: 100%;
  padding: 0 10px !important;
  display: table-cell;
  width: 50%; }

.image-wrap .image img {
  vertical-align: middle;
  width: 100%; }

.price {
  margin-top: 40px; }

.price .table {
  overflow-x: auto;
  width: 960px; }

.price table {
  margin: auto;
  margin-top: 35px; }

.price table, th, td {
  border-collapse: collapse;
  border: 1px solid #ccc;
  line-height: 1.5;
  padding: 10px; }

.price table th {
  background-color: #ebebeb;
  font-weight: bold;
  font-size: 18px; }

.price table td.bold {
  font-weight: bold; }

.price .caption {
  width: 100%;
  margin: auto;
  text-align: left;
  font-size: 12px;
  margin-top: 10px; }

.price .table {
  overflow-x: auto;
  width: 890px; }

.price table, th, td {
  border-collapse: collapse;
  border: 1px solid #ccc;
  line-height: 1.5;
  padding: 8px; }

.outer-content {
  width: 960px;
  margin: auto;
  text-align: center;
  margin-top: 80px; }

.outer-content .color-select p,
.outer-content .order p {
  margin-top: 35px; }

.outer-content .order {
  margin-top: 55px; }

.outer-content .back-list {
  margin-top: 55px; }

.outer-content ul.list-back {
  margin-top: 35px;
  display: flex;
  justify-content: space-between; }
  .outer-content ul.list-back img {
    width: 100%; }

.content-wrapper .bnrs ul {
  margin-top: 35px;
  display: flex;
  justify-content: space-between;
  overflow: hidden; }

.content-wrapper .bnrs .quote {
  text-align: center;
  margin-top: 30px;
  padding-bottom: 50px; }

.bnrs {
  zoom: 1;
  overflow: hidden;
  margin-top: 30px;
  margin-bottom: 30px; }

.slick-slide {
  width: 369px !important; }

.content-wrapper .bnrs ul {
  height: 196px; }

footer {
  font-size: 14px; }

footer .footer-inner {
  width: 960px;
  margin: auto;
  padding-top: 15px;
  padding-bottom: 15px;
  zoom: 1;
  overflow: hidden;
  color: #333333; }

footer address {
  padding-top: 5px;
  padding-bottom: 5px;
  font-weight: bold; }

footer div.footer-left {
  float: left;
  width: 450px; }

footer div.footer-right {
  float: right;
  width: 450px; }

footer .footer-menu a {
  text-decoration: none;
  color: #333333; }

footer .copy {
  color: #fff;
  background-color: #cccccc;
  height: 20px;
  text-align: center; }

footer .footer-menu {
  margin-top: 10px;
  width: 500px;
  clear: left;
  font-weight: bold; }

footer .footer-menu li {
  float: left;
  width: 30%; }

footer .footer-contact {
  padding-top: 20px;
  clear: left; }

footer .footer-contact li {
  float: left;
  margin-right: 10px; }

.btn01 a {
  background: #ff506d;
  border-radius: 5px;
  color: #fff !important;
  display: block;
  font-weight: bold;
  font-size: 22px;
  margin: 30px auto;
  text-align: center;
  text-decoration: none;
  padding: 25px 0;
  width: 380px; }

.btn02 a {
  background: #0046a5;
  border-radius: 5px;
  color: #fff;
  display: block;
  font-weight: bold;
  font-size: 22px;
  margin: 0 auto;
  text-align: center;
  padding: 25px 0;
  width: 380px; }

/*!
	Modaal - accessible modals - v0.4.4
	by Humaan, for all humans.
	http://humaan.com
 */
.modaal-noscroll {
  overflow: hidden; }

.modaal-accessible-hide {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden; }

.modaal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  opacity: 0; }

.modaal-wrapper {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  overflow: auto;
  opacity: 1;
  box-sizing: border-box;
  -webkit-overflow-scrolling: touch;
  transition: all 0.3s ease-in-out; }
  .modaal-wrapper * {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-backface-visibility: hidden; }
  .modaal-wrapper .modaal-close {
    border: none;
    background: transparent;
    padding: 0;
    -webkit-appearance: none; }
  .modaal-wrapper.modaal-start_none {
    display: none;
    opacity: 1; }
  .modaal-wrapper.modaal-start_fade {
    opacity: 0; }
  .modaal-wrapper *[tabindex="0"] {
    outline: none !important; }
  .modaal-wrapper.modaal-fullscreen {
    overflow: hidden; }

.modaal-outer-wrapper {
  display: table;
  position: relative;
  width: 100%;
  height: 100%; }
  .modaal-fullscreen .modaal-outer-wrapper {
    display: block; }

.modaal-inner-wrapper {
  display: table-cell;
  width: 100%;
  height: 100%;
  position: relative;
  vertical-align: middle;
  text-align: center;
  padding: 80px 25px; }
  .modaal-fullscreen .modaal-inner-wrapper {
    padding: 0;
    display: block;
    vertical-align: top; }

.modaal-container {
  position: relative;
  display: inline-block;
  width: 100%;
  margin: auto;
  text-align: left;
  color: #000;
  max-width: 1000px;
  border-radius: 0px;
  background: #fff;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  cursor: auto; }
  .modaal-container.is_loading {
    height: 100px;
    width: 100px;
    overflow: hidden; }
  .modaal-fullscreen .modaal-container {
    max-width: none;
    height: 100%;
    overflow: auto; }

.modaal-close {
  position: fixed;
  right: 20px;
  top: 20px;
  color: #fff;
  cursor: pointer;
  opacity: 1;
  width: 50px;
  height: 50px;
  background: rgba(0, 0, 0, 0);
  border-radius: 100%;
  transition: all 0.2s ease-in-out; }
  .modaal-close:focus, .modaal-close:hover {
    outline: none;
    background: #fff; }
    .modaal-close:focus:before, .modaal-close:focus:after, .modaal-close:hover:before, .modaal-close:hover:after {
      background: #b93d0c; }
  .modaal-close span {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px);
    /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0 !important;
    border: 0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden; }
  .modaal-close:before, .modaal-close:after {
    display: block;
    content: " ";
    position: absolute;
    top: 14px;
    left: 23px;
    width: 4px;
    height: 22px;
    border-radius: 4px;
    background: #fff;
    transition: background 0.2s ease-in-out; }
  .modaal-close:before {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg); }
  .modaal-close:after {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg); }
  .modaal-fullscreen .modaal-close {
    background: #afb7bc;
    right: 10px;
    top: 10px; }

.modaal-content-container {
  padding: 30px; }

.modaal-confirm-wrap {
  padding: 30px 0 0;
  text-align: center;
  font-size: 0; }

.modaal-confirm-btn {
  font-size: 14px;
  display: inline-block;
  margin: 0 10px;
  vertical-align: middle;
  cursor: pointer;
  border: none;
  background: transparent; }
  .modaal-confirm-btn.modaal-ok {
    padding: 10px 15px;
    color: #fff;
    background: #555;
    border-radius: 3px;
    transition: background 0.2s ease-in-out; }
    .modaal-confirm-btn.modaal-ok:hover {
      background: #2f2f2f; }
  .modaal-confirm-btn.modaal-cancel {
    text-decoration: underline; }
    .modaal-confirm-btn.modaal-cancel:hover {
      text-decoration: none;
      color: #2f2f2f; }

@keyframes instaReveal {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-webkit-keyframes instaReveal {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.modaal-instagram .modaal-container {
  width: auto;
  background: transparent;
  box-shadow: none !important; }

.modaal-instagram .modaal-content-container {
  padding: 0;
  background: transparent; }

.modaal-instagram .modaal-content-container > blockquote {
  width: 1px !important;
  height: 1px !important;
  opacity: 0 !important; }

.modaal-instagram iframe {
  opacity: 0;
  margin: -6px !important;
  border-radius: 0 !important;
  width: 1000px !important;
  max-width: 800px !important;
  box-shadow: none !important;
  -webkit-animation: instaReveal 1s linear forwards;
          animation: instaReveal 1s linear forwards; }

.modaal-image .modaal-inner-wrapper {
  padding-left: 140px;
  padding-right: 140px; }

.modaal-image .modaal-container {
  width: auto;
  max-width: 100%; }

.modaal-gallery-wrap {
  position: relative;
  color: #fff; }

.modaal-gallery-item {
  display: none; }
  .modaal-gallery-item img {
    display: block; }
  .modaal-gallery-item.is_active {
    display: block; }

.modaal-gallery-label {
  position: absolute;
  left: 0;
  width: 100%;
  margin: 20px 0 0;
  font-size: 18px;
  text-align: center;
  color: #fff; }
  .modaal-gallery-label:focus {
    outline: none; }

.modaal-gallery-control {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  opacity: 1;
  cursor: pointer;
  color: #fff;
  width: 50px;
  height: 50px;
  background: rgba(0, 0, 0, 0);
  border: none;
  border-radius: 100%;
  transition: all 0.2s ease-in-out; }
  .modaal-gallery-control.is_hidden {
    opacity: 0;
    cursor: default; }
  .modaal-gallery-control:focus, .modaal-gallery-control:hover {
    outline: none;
    background: #fff; }
    .modaal-gallery-control:focus:before, .modaal-gallery-control:focus:after, .modaal-gallery-control:hover:before, .modaal-gallery-control:hover:after {
      background: #afb7bc; }
  .modaal-gallery-control span {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px);
    /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0 !important;
    border: 0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden; }
  .modaal-gallery-control:before, .modaal-gallery-control:after {
    display: block;
    content: " ";
    position: absolute;
    top: 16px;
    left: 25px;
    width: 4px;
    height: 18px;
    border-radius: 4px;
    background: #fff;
    transition: background 0.2s ease-in-out; }
  .modaal-gallery-control:before {
    margin: -5px 0 0;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg); }
  .modaal-gallery-control:after {
    margin: 5px 0 0;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg); }

.modaal-gallery-next-inner {
  left: 100%;
  margin-left: 40px; }

.modaal-gallery-next-outer {
  right: 45px; }

.modaal-gallery-prev:before, .modaal-gallery-prev:after {
  left: 22px; }

.modaal-gallery-prev:before {
  margin: 5px 0 0;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg); }

.modaal-gallery-prev:after {
  margin: -5px 0 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg); }

.modaal-gallery-prev-inner {
  right: 100%;
  margin-right: 40px; }

.modaal-gallery-prev-outer {
  left: 45px; }

.modaal-video-wrap {
  margin: auto 50px;
  position: relative; }

.modaal-video-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  background: #000;
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto; }
  .modaal-video-container iframe,
  .modaal-video-container object,
  .modaal-video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

.modaal-iframe .modaal-content {
  width: 100%;
  height: 100%; }

.modaal-iframe-elem {
  width: 100%;
  height: 100%;
  display: block; }

.modaal-loading-spinner {
  background: none;
  position: absolute;
  width: 200px;
  height: 200px;
  top: 50%;
  left: 50%;
  margin: -100px 0 0 -100px;
  -webkit-transform: scale(0.25);
          transform: scale(0.25); }

@-webkit-keyframes modaal-loading-spinner {
  0% {
    opacity: 1;
    -webkit-transform: scale(1.5);
    transform: scale(1.5); }
  100% {
    opacity: .1;
    -webkit-transform: scale(1);
    transform: scale(1); } }

@keyframes modaal-loading-spinner {
  0% {
    opacity: 1;
    -webkit-transform: scale(1.5);
    transform: scale(1.5); }
  100% {
    opacity: .1;
    -webkit-transform: scale(1);
    transform: scale(1); } }

.modaal-loading-spinner > div {
  width: 24px;
  height: 24px;
  margin-left: 4px;
  margin-top: 4px;
  position: absolute; }

.modaal-loading-spinner > div > div {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  background: #fff; }

.modaal-loading-spinner > div:nth-of-type(1) > div {
  -webkit-animation: modaal-loading-spinner 1s linear infinite;
  animation: modaal-loading-spinner 1s linear infinite;
  -webkit-animation-delay: 0s;
  animation-delay: 0s; }

.modaal-loading-spinner > div:nth-of-type(2) > div, .modaal-loading-spinner > div:nth-of-type(3) > div {
  -ms-animation: modaal-loading-spinner 1s linear infinite;
  -moz-animation: modaal-loading-spinner 1s linear infinite;
  -webkit-animation: modaal-loading-spinner 1s linear infinite;
  -o-animation: modaal-loading-spinner 1s linear infinite; }

.modaal-loading-spinner > div:nth-of-type(1) {
  -webkit-transform: translate(84px, 84px) rotate(45deg) translate(70px, 0);
  transform: translate(84px, 84px) rotate(45deg) translate(70px, 0); }

.modaal-loading-spinner > div:nth-of-type(2) > div {
  -webkit-animation: modaal-loading-spinner 1s linear infinite;
          animation: modaal-loading-spinner 1s linear infinite;
  -webkit-animation-delay: .12s;
  animation-delay: .12s; }

.modaal-loading-spinner > div:nth-of-type(2) {
  -webkit-transform: translate(84px, 84px) rotate(90deg) translate(70px, 0);
  transform: translate(84px, 84px) rotate(90deg) translate(70px, 0); }

.modaal-loading-spinner > div:nth-of-type(3) > div {
  -webkit-animation: modaal-loading-spinner 1s linear infinite;
          animation: modaal-loading-spinner 1s linear infinite;
  -webkit-animation-delay: .25s;
  animation-delay: .25s; }

.modaal-loading-spinner > div:nth-of-type(4) > div, .modaal-loading-spinner > div:nth-of-type(5) > div {
  -ms-animation: modaal-loading-spinner 1s linear infinite;
  -moz-animation: modaal-loading-spinner 1s linear infinite;
  -webkit-animation: modaal-loading-spinner 1s linear infinite;
  -o-animation: modaal-loading-spinner 1s linear infinite; }

.modaal-loading-spinner > div:nth-of-type(3) {
  -webkit-transform: translate(84px, 84px) rotate(135deg) translate(70px, 0);
  transform: translate(84px, 84px) rotate(135deg) translate(70px, 0); }

.modaal-loading-spinner > div:nth-of-type(4) > div {
  -webkit-animation: modaal-loading-spinner 1s linear infinite;
          animation: modaal-loading-spinner 1s linear infinite;
  -webkit-animation-delay: .37s;
  animation-delay: .37s; }

.modaal-loading-spinner > div:nth-of-type(4) {
  -webkit-transform: translate(84px, 84px) rotate(180deg) translate(70px, 0);
  transform: translate(84px, 84px) rotate(180deg) translate(70px, 0); }

.modaal-loading-spinner > div:nth-of-type(5) > div {
  -webkit-animation: modaal-loading-spinner 1s linear infinite;
          animation: modaal-loading-spinner 1s linear infinite;
  -webkit-animation-delay: .5s;
  animation-delay: .5s; }

.modaal-loading-spinner > div:nth-of-type(6) > div, .modaal-loading-spinner > div:nth-of-type(7) > div {
  -ms-animation: modaal-loading-spinner 1s linear infinite;
  -moz-animation: modaal-loading-spinner 1s linear infinite;
  -webkit-animation: modaal-loading-spinner 1s linear infinite;
  -o-animation: modaal-loading-spinner 1s linear infinite; }

.modaal-loading-spinner > div:nth-of-type(5) {
  -webkit-transform: translate(84px, 84px) rotate(225deg) translate(70px, 0);
  transform: translate(84px, 84px) rotate(225deg) translate(70px, 0); }

.modaal-loading-spinner > div:nth-of-type(6) > div {
  -webkit-animation: modaal-loading-spinner 1s linear infinite;
          animation: modaal-loading-spinner 1s linear infinite;
  -webkit-animation-delay: .62s;
  animation-delay: .62s; }

.modaal-loading-spinner > div:nth-of-type(6) {
  -webkit-transform: translate(84px, 84px) rotate(270deg) translate(70px, 0);
  transform: translate(84px, 84px) rotate(270deg) translate(70px, 0); }

.modaal-loading-spinner > div:nth-of-type(7) > div {
  -webkit-animation: modaal-loading-spinner 1s linear infinite;
          animation: modaal-loading-spinner 1s linear infinite;
  -webkit-animation-delay: .75s;
  animation-delay: .75s; }

.modaal-loading-spinner > div:nth-of-type(7) {
  -webkit-transform: translate(84px, 84px) rotate(315deg) translate(70px, 0);
  transform: translate(84px, 84px) rotate(315deg) translate(70px, 0); }

.modaal-loading-spinner > div:nth-of-type(8) > div {
  -webkit-animation: modaal-loading-spinner 1s linear infinite;
  animation: modaal-loading-spinner 1s linear infinite;
  -webkit-animation-delay: .87s;
  animation-delay: .87s; }

.modaal-loading-spinner > div:nth-of-type(8) {
  -webkit-transform: translate(84px, 84px) rotate(360deg) translate(70px, 0);
  transform: translate(84px, 84px) rotate(360deg) translate(70px, 0); }

@media (max-width: 768px) {
    header {
      width: 100%; }
    header #logo {
      margin-left: 30px;
      margin-top: 30px;
      margin-bottom: 20px; }
    header #logo img {
      width: 420px; }
  header nav {
    display: none; }
    #humberger {
      display: block; }
    .wrapper {
      min-width: 100%;
      width: 768px; }
    .content {
      width: 100%; }
    ul.breadcrumb {
      display: none; }
    .head01 {
      width: 100%; }
    .item-detail {
      width: 708px;
      margin-left: 30px; }
    .item-detail div.item-photo,
    .item-info {
      display: block; }
    .item-info {
      width: 100%;
      margin-top: 20px;
      padding-left: 0; }
    .item-detail div.item-photo {
      width: 100%; }
  .item-detail div.item-photo {
    max-width: 100%;
    border: none;
    margin-left: 0; }
    .strength img {
      width: 100%; }
    .variation ul.variation-pict {
      margin-left: 35px; }
    .variation ul.variation-pict li {
      width: 30%;
      margin-right: 2%; }
    .variation ul.variation-pict li img {
      width: 100%; }
  .variation ul.variation-pict li:nth-child(3) {
    margin-right: 0; }
    .variation ul.variation-pict li:nth-child(5) {
      margin-right: 15px; }
    .price .table {
      width: auto;
      overflow-x: scroll; }
    .outer-content {
      width: 100%; }
    .outer-content img {
      width: 708px; }
    .outer-content .back-list {
      width: 708px;
      padding: 30px; }
    footer {
      width: 100%;
      text-align: center; }
    footer .footer-inner {
      width: 100%;
      text-align: center; }
    footer div.footer-left {
      width: 100%; }
    footer div.footer-right {
      display: none; }
    footer .copy {
      width: 100%; } }

@media only screen and (min-width: 1400px) {
  .modaal-video-container {
    padding-bottom: 0;
    height: 731px; } }

@media only screen and (max-width: 1140px) {
  .modaal-image .modaal-inner-wrapper {
    padding-left: 25px;
    padding-right: 25px; }
  .modaal-gallery-control {
    top: auto;
    bottom: 20px;
    -webkit-transform: none;
            transform: none;
    background: rgba(0, 0, 0, 0.7); }
    .modaal-gallery-control:before, .modaal-gallery-control:after {
      background: #fff; }
  .modaal-gallery-next {
    left: auto;
    right: 20px; }
  .modaal-gallery-prev {
    left: 20px;
    right: auto; } }

@media screen and (max-width: 900px) {
  .modaal-instagram iframe {
    width: 500px !important; } }

@media screen and (max-height: 1100px) {
  .modaal-instagram iframe {
    width: 700px !important; } }

@media screen and (max-height: 1000px) {
  .modaal-inner-wrapper {
    padding-top: 60px;
    padding-bottom: 60px; }
  .modaal-instagram iframe {
    width: 600px !important; } }

@media screen and (max-height: 900px) {
  .modaal-instagram iframe {
    width: 500px !important; }
  .modaal-video-container {
    max-width: 900px;
    max-height: 510px; } }

@media only screen and (max-width: 600px) {
  .modaal-instagram iframe {
    width: 280px !important; } }

@media only screen and (max-height: 820px) {
  .modaal-gallery-label {
    display: none; } }
