/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }
/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0; }

.slick-list:focus {
  outline: none; }

.slick-list.dragging {
  cursor: pointer;
  cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  margin-left: auto;
  margin-right: auto; }

.slick-track:before,
.slick-track:after {
  display: table;
  content: ''; }

.slick-track:after {
  clear: both; }

.slick-loading .slick-track {
  visibility: hidden; }

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px; }

[dir='rtl'] .slick-slide {
  float: right; }

.slick-slide img {
  display: block; }

.slick-slide.slick-loading img {
  display: none; }

.slick-slide.dragging img {
  pointer-events: none; }

.slick-initialized .slick-slide {
  display: block; }

.slick-loading .slick-slide {
  visibility: hidden; }

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }
@charset "UTF-8";
body {
  -webkit-text-size-adjust: 100%;
          text-size-adjust: 100%; }

br.clear_noie,
div.clear_noie {
  display: inline !important;
  display: none;
  clear: both;
  line-height: 0px; }

br.clear_all {
  clear: both;
  line-height: 0px; }

a:hover {
  transition: all .3s ease;
  opacity: 0.7; }

*:focus {
  outline: none; }

header {
  width: 960px;
  margin: auto;
  margin-top: 5px; }

header #logo {
  width: 310px;
  margin-top: 10px; }

header #logo,
header nav {
  float: left; }

header nav ul {
  float: right;
  clear: both;
  margin-bottom: 8px; }

header nav ul.menu {
  margin-bottom: 0; }

header nav ul li {
  float: left;
  margin-left: 20px; }

hr {
  background: #f75b5b;
  /* Old browsers */
  /* FF3.6-15 */
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #f75b5b 0%, #f4b75a 15%, #f7efa8 33%, #b4ed93 50%, #a2eff2 66%, #53b6f4 85%, #e5a2e1 99%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f75b5b', endColorstr='#e5a2e1', GradientType=1);
  /* IE6-9 */
  height: 5px;
  border: none;
  width: 100%;
  padding: 0;
  margin: 0; }

.wrapper {
  font-family: "\6E38\30B4\30B7\30C3\30AF\4F53", YuGothic, "\6E38\30B4\30B7\30C3\30AF", "Yu Gothic", "\30E1\30A4\30EA\30AA", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  min-width: 1000px; }

#main.content-wrapper {
  background: url("/img/background.gif");
  background-position: top center;
  background-size: cover; }

#main .content {
  width: 960px;
  margin: auto;
  padding-top: 10px; }

ul.breadcrumb {
  margin-top: 5px;
  margin-left: 10px;
  font-size: 14px; }

ul.breadcrumb li {
  /* liを横並び＆ブレットを消す */
  display: inline;
  list-style-type: none; }

ul.breadcrumb li:before {
  content: " > "; }

ul.breadcrumb li:first-child:before {
  content: ""; }

ul.breadcrumb a {
  text-decoration: none;
  color: #3a3a3a; }

ul.breadcrumb strong {
  font-weight: bold; }

.head01 {
  background: url(/src/img/ttl_01.png) center center no-repeat;
  color: #aa1f24;
  display: inline-block;
  font-size: 28px;
  font-weight: bold;
  height: 62px;
  text-align: center;
  width: 438px; }

.head01 span {
  display: block;
  padding-top: 2px; }

.head02 {
  background: url(/src/img/ttl_02.png) center center no-repeat;
  color: #aa1f24;
  display: inline-block;
  font-size: 26px;
  font-weight: bold;
  height: 56px;
  text-align: center;
  width: 393px; }

.head02 span {
  display: block;
  padding-top: 6px; }

.head03 {
  display: inline;
  font-size: 22px;
  font-weight: bold;
  border-bottom: solid 8px #e5e5e5; }

.head04 {
  border-left: 5px solid #f7254c;
  font-weight: bold;
  font-size: 28px;
  padding-left: 10px; }

.item-detail .note {
  font-size: 16px; }

.item-wrap {
  width: 100%; }

.item-detail {
  margin-top: 15px;
  width: 960px;
  border: solid 3px #7d7d7d;
  border-radius: 15px;
  background-color: #fff;
  padding: 30px;
  zoom: 1;
  overflow: hidden;
  text-align: center;
  box-sizing: border-box; }

.item-detail div.item-photo,
.item-info {
  display: table-cell;
  width: 50%; }

.item-info {
  padding-left: 20px;
  text-align: left; }

.item-detail div.item-photo {
  max-width: 430px;
  max-height: 430px;
  text-align: center;
  border: 1px solid #ccc;
  content: '';
  vertical-align: middle;
  height: 100%;
  width: 0;
  margin-left: -0.3em; }

.item-detail div.item-photo img {
  vertical-align: middle;
  width: 100%; }

.item-detail h2 {
  font-size: 30px;
  font-weight: bold;
  border-bottom: solid 8px #e5e5e5;
  border-bottom: solid 8px #e5e5e5;
  width: 80%; }

.item-detail p {
  margin-top: 35px;
  font-size: 20px; }

.item-detail {
  margin-top: 15px;
  width: 960px;
  border: solid 3px #7d7d7d;
  border-radius: 15px;
  background-color: #fff;
  padding: 30px;
  zoom: 1;
  overflow: hidden;
  text-align: center;
  box-sizing: border-box; }

.variation ul.variation-pict {
  margin-top: 35px;
  margin-left: 4px; }

.strength {
  padding-top: 30px;
  clear: left; }

.variation {
  margin-top: 40px;
  zoom: 1;
  overflow: hidden; }

.variation ul.variation-pict {
  margin-top: 35px;
  margin-left: 35px; }

.variation ul.variation-pict li {
  float: left;
  margin-right: 15px; }

.variation ul.variation-pict li:nth-child(5) {
  margin-right: 0; }

.drawing {
  margin-top: 40px; }

.drawing .image {
  margin-top: 35px; }

.image-wrap {
  margin-top: 30px;
  width: 100%; }

.image-wrap .image {
  box-sizing: border-box;
  max-width: 430px;
  max-height: 430px;
  text-align: center;
  content: '';
  vertical-align: middle;
  height: 100%;
  padding: 0 10px !important;
  display: table-cell;
  width: 50%; }

.image-wrap .image img {
  vertical-align: middle;
  width: 100%; }

.price {
  margin-top: 40px; }

.price .table {
  overflow-x: auto;
  width: 960px; }

.price table {
  margin: auto;
  margin-top: 35px; }

.price table, th, td {
  border-collapse: collapse;
  border: 1px solid #ccc;
  line-height: 1.5;
  padding: 10px; }

.price table th {
  background-color: #ebebeb;
  font-weight: bold;
  font-size: 18px; }

.price table td.bold {
  font-weight: bold; }

.price .caption {
  width: 100%;
  margin: auto;
  text-align: left;
  font-size: 12px;
  margin-top: 10px; }

.price .table {
  overflow-x: auto;
  width: 890px; }

.price table, th, td {
  border-collapse: collapse;
  border: 1px solid #ccc;
  line-height: 1.5;
  padding: 8px; }

.outer-content {
  width: 1000px;
  margin: auto;
  text-align: center;
  margin-top: 80px; }

.outer-content .color-select p,
.outer-content .order p {
  margin-top: 35px; }

.outer-content .order {
  margin-top: 55px; }

.outer-content .back-list {
  margin-top: 55px; }

.outer-content ul.list-back {
  margin-top: 35px;
  display: flex;
  justify-content: space-between; }

.content-wrapper .bnrs ul {
  margin-top: 35px;
  display: flex;
  justify-content: space-between;
  overflow: hidden; }

.content-wrapper .bnrs .quote {
  text-align: center;
  margin-top: 30px;
  padding-bottom: 50px; }

.bnrs {
  zoom: 1;
  overflow: hidden;
  margin-top: 30px;
  margin-bottom: 30px; }

footer {
  font-size: 14px; }

footer .footer-inner {
  width: 960px;
  margin: auto;
  padding-top: 15px;
  padding-bottom: 15px;
  zoom: 1;
  overflow: hidden;
  color: #333333; }

footer address {
  padding-top: 5px;
  padding-bottom: 5px;
  font-weight: bold; }

footer div.footer-left {
  float: left;
  width: 450px; }

footer div.footer-right {
  float: right;
  width: 450px; }

footer .footer-menu a {
  text-decoration: none;
  color: #333333; }

footer .copy {
  color: #fff;
  background-color: #cccccc;
  height: 20px;
  text-align: center; }

footer .footer-menu {
  margin-top: 10px;
  width: 500px;
  clear: left;
  font-weight: bold; }

footer .footer-menu li {
  float: left;
  width: 30%; }

footer .footer-contact {
  padding-top: 20px;
  clear: left; }

footer .footer-contact li {
  float: left;
  margin-right: 10px; }

.btn01 a {
  background: #ff506d;
  border-radius: 5px;
  color: #fff !important;
  display: block;
  font-weight: bold;
  font-size: 22px;
  margin: 30px auto;
  text-align: center;
  text-decoration: none;
  padding: 25px 0;
  width: 380px; }

.btn02 a {
  background: #0046a5;
  border-radius: 5px;
  color: #fff;
  display: block;
  font-weight: bold;
  font-size: 22px;
  margin: 0 auto;
  text-align: center;
  padding: 25px 0;
  width: 380px; }

@media (max-width: 768px) {
    .head01 {
      width: 100%; }
    .item-detail {
      text-align: left; } }
