/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }
@charset "UTF-8";
body {
  -webkit-text-size-adjust: 100%;
          text-size-adjust: 100%; }

header {
  width: 1000px;
  margin: auto;
  margin-top: 5px; }

header h1 {
  width: 350px;
  margin-top: 10px; }

header h1,
header nav {
  float: left; }

header nav ul {
  float: right;
  clear: both;
  margin-bottom: 8px; }

header nav ul.menu {
  margin-bottom: 0; }

header nav ul li {
  float: left;
  margin-right: 20px; }

hr {
  background: #f75b5b;
  /* Old browsers */
  /* FF3.6-15 */
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #f75b5b 0%, #f4b75a 15%, #f7efa8 33%, #b4ed93 50%, #a2eff2 66%, #53b6f4 85%, #e5a2e1 99%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f75b5b', endColorstr='#e5a2e1', GradientType=1);
  /* IE6-9 */
  height: 5px;
  border: none;
  width: 100%;
  padding: 0;
  margin: 0; }

.wrapper {
  font-family: "\6E38\30B4\30B7\30C3\30AF\4F53", YuGothic, "\6E38\30B4\30B7\30C3\30AF", "Yu Gothic", "\30E1\30A4\30EA\30AA", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  min-width: 1000px; }

.content-wraper {
  background: url("../img/background.gif");
  background-position: top center;
  background-size: cover; }

.content {
  width: 1000px;
  margin: auto;
  padding-top: 10px; }

ul.breadcrumb {
  margin-top: 5px;
  margin-left: 10px;
  font-size: 14px; }

ul.breadcrumb li {
  /* liを横並び＆ブレットを消す */
  display: inline;
  list-style-type: none; }

ul.breadcrumb li:before {
  content: " > "; }

ul.breadcrumb li:first-child:before {
  content: ""; }

ul.breadcrumb a {
  text-decoration: none;
  color: #3a3a3a; }

.item-detail {
  margin-top: 15px;
  width: 960px;
  border: solid 3px #7d7d7d;
  border-radius: 15px;
  background-color: #fff;
  padding: 30px;
  zoom: 1;
  overflow: hidden;
  text-align: center; }

.item-detail div.item-photo,
.item-detail div.item-info {
  width: 50%;
  float: left;
  text-align: left; }

.item-detail h2 {
  font-size: 30px;
  font-weight: bold;
  border-bottom: solid 8px #e5e5e5;
  border-bottom: solid 8px #e5e5e5;
  width: 80%; }

.item-detail p {
  margin-top: 35px;
  font-size: 20px; }

.item-detail p.quote {
  text-align: center;
  margin-top: 40px; }

.strength {
  padding-top: 30px;
  clear: left; }

.variation {
  margin-top: 40px;
  zoom: 1;
  overflow: hidden; }

.variation ul.variation-pict {
  margin-top: 35px;
  margin-left: 35px; }

.variation ul.variation-pict li {
  float: left;
  margin-right: 15px; }

.variation ul.variation-pict li:nth-child(5) {
  margin-right: 0; }

.drawing {
  margin-top: 40px; }

.drawing .image {
  margin-top: 35px; }

.price {
  margin-top: 40px; }

.price table {
  width: 886px;
  margin: auto;
  margin-top: 35px; }

.price table, th, td {
  border-collapse: collapse;
  border: 1px solid #ccc;
  line-height: 1.5;
  padding: 10px; }

.price table th {
  background-color: #ebebeb;
  font-weight: bold;
  font-size: 18px; }

.price table td.bold {
  font-weight: bold; }

.price .caption {
  width: 850px;
  margin: auto;
  text-align: left;
  font-size: 15px;
  margin-left: 50px;
  margin-top: 10px; }

.price .quote {
  margin-top: 30px; }

.outer-content {
  width: 1000px;
  margin: auto;
  text-align: center;
  margin-top: 80px; }

.outer-content .color-select p,
.outer-content .order p {
  margin-top: 35px; }

.outer-content .order {
  margin-top: 55px; }

.outer-content .back-list {
  margin-top: 55px; }

.outer-content ul.list-back {
  margin-top: 35px;
  display: flex;
  justify-content: space-between; }

.content-wraper .bnrs ul {
  margin-top: 35px;
  display: flex;
  justify-content: space-between;
  overflow: hidden; }

.content-wraper .bnrs .quote {
  text-align: center;
  margin-top: 30px;
  padding-bottom: 50px; }

footer {
  font-size: 14px; }

footer .footer-inner {
  width: 1000px;
  margin: auto;
  padding-top: 15px;
  padding-bottom: 15px;
  zoom: 1;
  overflow: hidden;
  color: #333333; }

footer address {
  padding-top: 5px;
  padding-bottom: 5px;
  font-weight: bold; }

footer div.footer-left,
footer div.footer-right {
  float: left; }

footer div.footer-left {
  width: 450px; }

footer .footer-menu a {
  text-decoration: none;
  color: #333333; }

footer .copy {
  color: #fff;
  background-color: #cccccc;
  height: 20px;
  text-align: center; }

footer .footer-menu {
  margin-top: 10px;
  width: 500px;
  clear: left;
  font-weight: bold; }

footer .footer-menu li {
  float: left;
  width: 30%; }

footer .footer-contact {
  padding-top: 20px;
  clear: left; }

footer .footer-contact li {
  float: left;
  margin-right: 10px; }
