extends /layout/_default-layout

prepend config-block
  - page_name = ''

//- append stylesheet-block

//- append javascript-block

block content-block
  .content-wraper
    .content
      ul.breadcrumb
        li: a(href="#") ボールプールドットコムTOP
        li: a(href="#") 商品一覧
        li: a(href="#") ミニボールプール
      .item-detail
        .item-photo
          img(src="img/item_picture_01.jpg" alt="ミニボールプール商品画像")
        .item-info
          h2 No.1 ミニボールプール赤
          p サイズ：1400mm×H350mm
            br
            | 値段：¥90,290（税込）〜
          p 備考
            br
            | ※商品はボールミックスセットです。
            br
            | お好きなカラーボール6色からお選びください
          p.quote
            a(href="#")
              img(src="img/quote_btn.gif" alt="ご相談・お見積もり")
        .strength
            a(href="#")
              img(src="img/strength.jpg" alt="強み")
        .variation
          h3
            img(src="img/ttl_variation.png" alt="バリエーション")
          ul.variation-pict
            li: a(href="#"): img(src="img/variation_picture_01.jpg" alt="バリエーション1")
            li: a(href="#"): img(src="img/variation_picture_02.jpg" alt="バリエーション2")
            li: a(href="#"): img(src="img/variation_picture_03.jpg" alt="バリエーション3")
            li: a(href="#"): img(src="img/variation_picture_04.jpg" alt="バリエーション4")
            li: a(href="#"): img(src="img/variation_picture_05.jpg" alt="バリエーション5")
            li: a(href="#"): img(src="img/variation_picture_06.jpg" alt="バリエーション6")
            li: a(href="#"): img(src="img/variation_picture_07.jpg" alt="バリエーション7")

        .drawing
          h3: img(src="img/ttl_drawing.png" alt="商品図面・詳細")
          .image
            img(src="img/drawing_picture.jpg")

        .price
          h3: img(src="img/ttl_price.png" alt="セット内訳・価格")
          table
            tr
              th 商品名
              th 品番
              th サイズ (mm)
              th 数量
              th(colspan=4) 税込特価（円）
            tr
              td(colspan=4)
              td.bold Aランク
              td.bold Bランク
              td.bold Cランク
              td.bold Dランク
            tr
              td.bold サイドガード
              td.bold BM-2
              td.bold W1400  X D700 x H350
              td 2
              td 54,360
              td 54,360
              td 54,360
              td 54,360
            tr
              td.bold ボールプールマットR型
              td.bold BM-FM
              td.bold W1000  X D500 x H50
              td 2
              td 24,000
              td 24,000
              td 24,000
              td 24,000
            tr
              td
              td
              td
              td.bold 合計
              td.bold 78,360
              td.bold 79,420
              td.bold 81,280
              td.bold 83,360
          ul.caption
            li ※この商品には連結金具は含まれておりません。お見積もり時にご指定ください。連結金具に関しては
              a(href="#") こちら
            li ※この商品にはボールは含まれておりません。お見積もり時にボール有無をご指定ください。カラーボールに関しては
              a(href="#") こちら
            li ※パーツのみをお求めの際は上記セット内訳の商品名・品番をお見積もりフォームに誤入力ください。
          .quote
            a(href="#")
              img(src="img/quote_btn.gif" alt="ご相談・お見積もり")

      .outer-content
        .color-select
          h3: img(src="img/ttl_color.png" alt="セット内訳・価格")
          p
            a(href="#")
              img(src="img/color_bnr.png" alt="ご相談・お見積もり")
        .order
          h3: img(src="img/ttl_order.png" alt="セット内訳・価格")
          p
            a(href="#")
              img(src="img/order_bnr.gif" alt="誘導画像")
        .back-list
          h3: img(src="img/ttl_back_list.png" alt="商品一覧へ戻る")
          ul.list-back
            li: a(href="#"): img(src="img/list_back_01.png" alt="ミニボールプール")
            li: a(href="#"): img(src="img/list_back_02.png" alt="ボールプール（中型）")
            li: a(href="#"): img(src="img/list_back_03.png" alt="ボールプール（大型）")
            li: a(href="#"): img(src="img/list_back_04.png" alt="ボールプール関連商品")
    .bnrs
      ul.list-slider
        li: a(href="#"): img(src="img/bnr_01.png" alt="ミニボールプール")
        li: a(href="#"): img(src="img/bnr_02.png" alt="ボールプール（中型）")
        li: a(href="#"): img(src="img/bnr_03.png" alt="ボールプール（大型）")
        li: a(href="#"): img(src="img/bnr_04.png" alt="ボールプール関連商品")
        li: a(href="#"): img(src="img/bnr_05.png" alt="ボールプール関連商品")
        li: a(href="#"): img(src="img/bnr_06.png" alt="ボールプール関連商品")
      .quote
        a(href="#")
          img(src="img/quote_btn.gif" alt="ご相談・お見積もり")