.btn01 a{
  background: #ff506d;
  border-radius: 5px;
  color: #fff !important;
  display: block;
  font-weight: bold;
  font-size: 22px;
  margin: 30px auto;
  text-align: center;
  text-decoration: none;
  padding: 25px 0;
  width: 380px;
}

.btn02 a{
  background: #0046a5;
  border-radius: 5px;
  color: #fff;
  display: block;
  font-weight: bold;
  font-size: 22px;
  margin: 0 auto;
  text-align: center;
  padding: 25px 0;
  width: 380px;
}