footer {
  font-size: 14px;
  line-height: 16px;
  @include sp {
    width: 100%;
    text-align: center;
  }
}

footer .footer-inner {
  width: 960px;
  margin: auto;
  padding-top: 15px;
  padding-bottom: 15px;
  zoom: 1;
  overflow: hidden;
  color: #333333;
  @include sp {
    width: 100%;
    text-align: center;
  }
}

footer #footer-logo{
  img{
    width: 310px;
  }
}

footer address {
  padding-top: 5px;
  padding-bottom: 5px;
  font-weight: bold; }

footer div.footer-left{
  float: left;
  width: 450px;
  @include sp {
    width: 100%;
  }
}

footer div.footer-right{
  float: right;
  width: 450px;
  @include sp {
    display: none;
  }
}

footer .footer-menu a {
  text-decoration: none;
  color: #333333; }

footer .copy {
  color: #fff;
  background-color: #cccccc;
  height: 20px;
  text-align: center;
  @include sp {
    width: 100%;
  }
}

footer .footer-menu {
  margin-top: 10px;
  width: 500px;
  clear: left;
  font-weight: bold;

}

footer .footer-menu li {
  float: left;
  width: 30%; }

footer .footer-contact {
  padding-top: 20px;
  clear: left; }

footer .footer-contact li {
  float: left;
  margin-right: 10px; }