#guide h3,
#guide p,
#guide .note li{
  text-align: left;}

#guide .head01{
  margin-bottom: 35px;}

#guide h3{
  border-left: 5px solid #f7254c;
  font-size: 18px;
  font-weight: bold;
  margin: 0 0 10px;
  padding-left:10px;}

#guide .size20{
  font-size: 20px;
  font-weight: bold;}

#guide .box.flow .head01{
  font-size: 26px!important;}

#guide .box.flow .head01 span{
 padding-top: 5px!important;}

#guide .ulWrap{
  background-image: url(/guide/img/arrow.png);
  background-position: 50px bottom;
  background-repeat: no-repeat;
  z-index: 999;
  margin-bottom: 80px;
  display: flex;}

#guide ul.steps{
  position:relative;}

#guide ul.steps{
  margin: 0 0 20px 50px;
  position: relative;
  border-left: 31px solid #fee2e7;
  box-sizing: border-box;
  width: 790px;

  @include sp {
    width: 100%;
  }
}

#guide ul.steps li{
  width: 100%;}

#guide ul.steps h3{
  position: relative;}

#guide ul.steps li.li01:before,
#guide ul.steps li.li02:before,
#guide ul.steps li.li03:before,
#guide ul.steps li.li04:before,
#guide ul.steps li.li05:before,
#guide ul.steps li.li06:before{
  content: "";
  left: -16px;
  width: 84px;
  height: 84px;
  margin: 10px 0px 0 -42px;
  position: absolute;}

#guide ul.steps li.li01:before{background-image: url(/guide/img/step1.png);}
#guide ul.steps li.li02:before{background-image: url(/guide/img/step2.png);}
#guide ul.steps li.li03:before{background-image: url(/guide/img/step3.png);}
#guide ul.steps li.li04:before{background-image: url(/guide/img/step4.png);}
#guide ul.steps li.li05:before{background-image: url(/guide/img/step5.png);}
#guide ul.steps li.li06:before{background-image: url(/guide/img/step6.png);}

#guide ul.steps li .liInr{
  border-bottom: 1px dotted #a1a0a0;
  margin-left: 50px;
  padding: 40px 0;
}

#guide ul.steps li.li06 .liInr{
  border-bottom: none !important;}

.enlarge{
  color: #434343;
  display: block;
  font-size: 12px;
  text-align: right;}

#guide ul li h3{
  border-left: none !important;
  margin-bottom: 30px;
  padding-left: 0 !important;}

#guide ul li .liInr .info{
  display: inline-block;
  margin-right: 34px;
  vertical-align: top;
  width: 368px;

  @include sp {
    width: 100%;
  }
}

#guide ul li .liInr .img{
  display: inline-block;
  vertical-align: top;
  width: 293px;

  @include sp {
    width: 100%;
  }
}

#guide .cancel{
  margin: 0 auto 0 74px;
  width: 690px;

  @include sp {
    margin: 0;
    width: 100%;
  }
}

#guide ul.note{
  margin-top: 30px;}

#guide ul.note li{
  font-size: 12px;
  text-indent: -1em;
  padding-left: 1em;}

#guide .box.return{
  background-image: url("/guide/img/bg01.png");
  background-repeat: no-repeat;
  background-position: 95% bottom;}

#guide .box.return .note{
  width: 690px;
  margin-bottom: 100px;

  @include sp {
    width: 100%;
  }
}

#guide .box.return .note li{
  font-size: 16px !important;}


