#contact h1,
#privacy h1,
#company h1 {
  margin: auto;
  margin-top: 10px;
  text-align: center;

  @include sp {
    padding: 20px;
  }

  img {
    @include sp {
      width: 100%;
    }
  }
}

.wide_photo {
  margin-top: 20px;
  margin-bottom: 20px;

  img {
    @include sp {
      width: 100%;
    }
  }
}

#contact table,
#privacy table,
#company table {
  margin-top: 20px;
  width: 100%;
  text-align: left;
}
#contact table th,
#privacy table th,
#company table th {
  background-color: #ebebeb;
  font-weight: bold;
  white-space: nowrap;
  padding: 20px;
}

iframe{
  width: 100%;
  height: 450px;
  margin-bottom: 0;
}

.map{
  text-align: center;
  margin: auto;
  margin-top: 20px;
  overflow: hidden;
  width: 100%;
}

#contact p,
#privacy p{
  padding-top: 20px;
  text-align: left;
  font-size: 14px;
}

#privacy dt{
  border-left: solid 5px #f7254c;
  font-size: 22px;
  padding-left: 8px;
  font-weight: bold;
  box-sizing: content-box;
  margin-top: 30px;
}

#privacy dt,
#privacy dd{
  font-size: 22px;
  text-align: left;
}

#privacy dd{
  font-size: 14px;
  margin-top: 10px;
}


#sites {
  h1 {
    margin: auto;
    margin-top: 10px;
    text-align: center;
    img {
      @include sp {
        width: 100%;
      }
    }
  }
  .site-group {
    clear: both;
    overflow: hidden;
    margin-top: 15px;
    h3 {
      text-align: left;
      font-size: 1.5rem;
      font-weight: bold;
      border-left: 5px solid #f7254c;
      padding-left: 9px;
      margin-bottom: 5px;
    }
    .one-site{
      width: 50%;
      float: left;
      table {
        text-align: left;z
        td {
          border: none;
          vertical-align: middle;
        }
      }
    }
  }
}

