#contact h1,
#privacy h1,
#company h1 {
  margin: auto;
  margin-top: 10px;
  text-align: center;

  @include sp {
    padding: 20px;
  }

  img {
    @include sp {
      width: 100%;
    }
  }
}

.wide_photo {
  margin-top: 20px;
  margin-bottom: 20px;

  img {
    @include sp {
      width: 100%;
    }
  }
}

#contact table,
#privacy table,
#company table {
  margin-top: 20px;
  width: 100%;
  text-align: left;
}
#contact table th,
#privacy table th,
#company table th {
  background-color: #ebebeb;
  font-weight: bold;
  white-space: nowrap;
  padding: 20px;
}

iframe{
  width: 100%;
  height: 450px;
  margin-bottom: 0;
}

.map{
  text-align: center;
  margin: auto;
  margin-top: 20px;
  overflow: hidden;
  width: 100%;
}

#contact p,
#privacy p{
  padding-top: 20px;
  text-align: left;
  font-size: 14px;
}

#privacy dt{
  border-left: solid 5px #f7254c;
  font-size: 22px;
  padding-left: 8px;
  font-weight: bold;
  box-sizing: content-box;
  margin-top: 30px;
}

#privacy dt,
#privacy dd{
  font-size: 22px;
  text-align: left;
}

#privacy dd{
  font-size: 14px;
  margin-top: 10px;
}


#sites {
  h1 {
    margin: auto;
    margin-top: 10px;
    text-align: center;
    img {
      @include sp {
        width: 100%;
      }
    }
  }
  .site-group {
    clear: both;
    overflow: hidden;
    margin-top: 15px;
    h2 {
      text-align: left;
      font-size: 1.5rem;
      font-weight: bold;
      border-left: 5px solid #f7254c;
      padding-left: 9px;
      margin-bottom: 5px;
    }
    .one-site{
      width: 50%;
      float: left;
      table {
        text-align: left;
        td {
          border: none;
          vertical-align: middle;
        }
      }
    }
  }
}



#company #enkaku a{
  text-decoration: none;
  color:#000;
}

#contact {
  h1 {
    margin: auto;
    margin-top: 10px;
    text-align: center;
    img {
      @include sp {
        width: 100%;
      }
    }
  }

  table {
    th {
      width: 40%;
      vertical-align: middle;
      .required {
        color: #fff;
        font-size: 0.8rem;
        background-color: #ff506d;
        box-sizing: border-box;
        padding: 2px 10px;
        border-radius: 3px;
        height: 25px;
        display: inline-block;
        line-height: 22px;
        float: right;
      }
      .small {
        font-size: 0.8rem;
      }
    }
    td {
      width: 60%;
      vertical-align: middle;
      input {
        font-size: inherit;
        border: none;
        width: 60%;
        height: 26px;
        background-color: #f5f5f5;
      }
      input[type="file"] {
        display: none;
      }
      label span.btn-file {
        text-align: center;
        width: 190px;
        height: 28px;
        line-height: 28px;
        display: inline-block;
        border: none;
        padding: 0;
        box-sizing: border-box;
        border-radius: 5px;
        color: #fff;
        font-size: 1.1rem;
        font-weight: bold;
        background-color: #848484;
      }
      textarea {
        font-size: inherit;
        border: none;
        width: 100%;
        height: 85px;
        background-color: #f5f5f5;
        resize: none;
      }
    }
  }

  .form-btn {
    margin: 40px 0 30px 0;
    button {
      width: 310px;
      height: 60px;
      border: none;
      padding: 0;
      box-sizing: border-box;
      border-radius: 5px;
      color: #fff;
      font-size: 1.5rem;
      font-weight: bold;
    }
    .btn-clear {
      background-color: #434343;
    }
    .btn-submit {
      background-color: #ff506d;
    }
  }

  .contact-btn-wrapper {
    overflow: hidden;
    margin: 30px 0 20px 0;
    .contact-btn {
      float: left;
      width: 50%;
      .contact-btn-inner {
        width: 432px;
        margin: auto;
        p {
          padding-top: 0;
        }
        @include sp {
          width: 100%;
        }
        img {
          @include sp {
            width: 98%;
          }
        }
      }
    }
  }

  .head01.adjust {
    box-sizing: border-box;
    padding-top: 7px;
    font-size: 22px;
  }
}