body {
  // 文字サイズの自動調整を無効にする
  text-size-adjust: 100%;
}
br.clear_noie,
div.clear_noie {
  display:inline !important;
  display:none;
  clear:both;
  line-height:0px;
}
br.clear_all {
  clear:both;
  line-height:0px;
}

a{
  color: #3483dd;
  text-decoration: none;
}

a:hover{
  transition: all .3s ease;
  opacity: 0.7;
}

*:focus{
  outline: none;
}

.mb20{ margin-bottom: 20px;}
.mb25{ margin-bottom: 25px;}
.mb30{ margin-bottom: 30px;}
.mb35{ margin-bottom: 35px;}
.mb40{ margin-bottom: 40px;}

.center{text-align: center !important;}
.left{text-align: left !important;}
.right{text-align: right !important;}